<div class="container">
  <h1 class="display-4">About</h1>
  <p class="lead">This is a simple Todo-List application made using angular.</p>
  <hr class="my-4" />
  <p>
    Angular concepts used: basic components operations, data sharing between
    components, template concepts like interpolation, property binding,
    attribute binding, event binding, two-way binding, structural directives and
    routing.
  </p>
  <a class="btn btn-primary btn-lg" routerLink="/todo" role="button"
    >Back to Todos</a
  >
</div>
